include ./partials/head.pug
body
  include ./partials/nav.pug
  .container.mx-auto.m-0
    img(src="/banner.jpg", alt=vars.CHANNEL_NAME).w-100
    ul.flex.flex-wrap.mx-auto.justify-center
      each video in videos
        a(href="/video/" + video.id) 
          li.bg-blue-100.p-2.m-2.rounded-md.md_w-96
            img(src='/videos/' + video.thumbnail, alt=video.title).w-96
            p= new Date(video.duration * 1000).toISOString().substr(11, 8)
            p.text-lg.md_text-xl= video.title
            p= 'Posted ' + new Date(video.date.substr(0, 4) + '-' + video.date.substr(4, 2) + '-' + video.date.substr(6, 2) ).toLocaleDateString()
  include ./partials/footer.pug
