block vars
  title= `${video.title} | ${vars.SITE_TITLE}`

include ./partials/head.pug
body
  include ./partials/nav.pug
  .container.mx-auto
    ul.flex.flex-wrap.mx-auto.justify-center
    video(src="/videos/" + video.file, controls=true).text-center
      if video.subtitles
        track(default=true, kind="captions", srclang="en", label="Auto-Generated Subtitles", src="/videos/" + video.subtitles).text-center
    h1.text-4xl.mt-4=video.title
    p.text-2xl= 'Posted ' + new Date(video.date.substr(0, 4) + '-' + video.date.substr(4, 2) + '-' + video.date.substr(6, 2) ).toLocaleDateString()
    p.text-3xl.mt-4 Description:
    p#description !{linkifyHtml(video.description.split('\n').join('<br>'), {target: {url: '_blank'}})}