block vars
  - var title = title || vars.SITE_TITLE

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title= title
    link(href="/styles/style.css", rel="stylesheet")
    link(href="/styles/overrides.css", rel="stylesheet")
    link(href="/styles/fa/css/fontawesome.min.css", rel="stylesheet")
    link(href="/styles/fa/css/brands.min.css", rel="stylesheet")
    link(href="/styles/fa/css/solid.min.css", rel="stylesheet")