.relative.bg-white.m-0
  .max-w-7xl.mx-auto.px-4.sm_px-6.border-b-2.border-gray-100
    .flex.justify-center.md_justify-between.items-center.py-6.md_justify-start.md_space-x-10
      .flex.items-center.lg_w-0.lg_flex-1
        a(href="/")
          p.bold.text-2xl=vars.CHANNEL_NAME 
      nav.hidden.md_flex.space-x-10 
        a(href="/" class="text-base font-medium text-gray-500 hover:text-gray-900") Home
        for button in buttons
          if (button.link)
            .grid.place-content-center
              a(href=button.link class="text-base align-middle  text-gray-500 hover:text-gray-900 " + button.icon)
    nav.flex.md_hidden.space-x-10.pb-4.justify-center
      for button in buttons
        if (button.link)
          .grid.place-content-center
            a(href=button.link class="text-base align-middle  text-gray-500 hover:text-gray-900 " + button.icon)